@charset "UTF-8";
/*!
=========================================================
* Meyawo Landing page
=========================================================

* Copyright: 2019 DevCRUD (https://devcrud.com)
* Licensed: (https://devcrud.com/licenses)
* Coded by www.devcrud.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*/
@import url("https://fonts.googleapis.com/css?family=Baloo+Paaji|Open+Sans:300,300i,400,400i,600,600i,700,700i");

:root {

    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Open Sans", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    text-align: left;
    background-color: #fff;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-family: 'Baloo Paaji', cursive;
    color: #0d1321 !important;
}

.btn {
    background-color: #e5e5e5 !important;
    color: #3e5c76
}






#about .numbers {
    color: #3e5c76 !important;
}

.my-font {
    font-family: 'Baloo Paaji', cursive;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1300 - 300)));
    font-weight: 400;
    opacity: 1;
    color: #3e5c76;
    letter-spacing: .6px;
}

.bg-techy {
    background-color: #5a7da61a !important;
}

.xs-font {
    font-size: 13px;
    opacity: .5;
}

.title {
    font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1300 - 300)));
}

.title.big {
    font-size: calc(17px + (25 - 17) * ((100vw - 300px) / (1300 - 300)));
}


.service-card {
    position: relative;
    min-height: 230px;
    border: 1px solid #dee2e6;
    overflow: hidden;
    border-radius: 3px;
}

.service-card .body {
    padding: 10px;
}

.service-card .body img.icon {
    margin-top: 40px;
    width: 55px;
    margin-bottom: 25px;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    .service-card .body img.icon {
        -webkit-transition: none;
        transition: none;
    }
}

.service-card .body .subtitle {
    position: absolute;
    bottom: -100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    .service-card .body .subtitle {
        -webkit-transition: none;
        transition: none;
    }
}

.service-card:hover .body img.icon {
    margin-top: 5px;
    width: 45px;
    margin-bottom: 15px;
}

.service-card:hover .body .subtitle {
    bottom: 15px;
    opacity: 1;
    visibility: visible;

}

@media (max-width: 767.98px) {

    .service-card {
        margin-bottom: 30px;
    }
}

/* testmonial card */
.testimonial-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.testimonial-card-img-holder {
    min-width: 45px;
    max-width: 45px;
    z-index: 999;
}

.testimonial-card-img {
    background: #fff;
    padding: 4px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.testimonial-card-body {
    text-align: left;
    border: 1px solid #dee2e6;
    background: #fff;
    padding: 20px 20px 20px 60px;
    border-radius: 0;
}

.testimonial-card-title {
    margin-top: 20px;
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1300 - 300)));
}




/* sections */
.section {
    padding: 70px 10px;
}

.section .section-title {
    font-size: calc(20px + (35 - 20) * ((100vw - 300px) / (1300 - 300)));
}

.section .section-subtitle {
    margin-bottom: 6px;
    font-weight: 400;
    opacity: .6;
}

.section-sm {
    padding: 40px 0 !important;
}

.section-md {
    padding: 60px 0 !important;
}

.section-lg {
    padding: 100px 0 !important;
}





/*** About ***/
#about .years .display-1 {
    font-size: 10rem;
    line-height: 9rem;
}

#about .years h5 {
    letter-spacing: 30px;
    margin-right: -30px;
}

.about-section {
    background: #0a0a0a;
    padding-top: 80px;
    padding-bottom: 80px;
    color: #fff;
}

.btn-tech {
    background: #0ef;
    border: none;
    color: #000;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.3s;
}

.btn-tech:hover {
    background: #fff;
    color: #111;
    transform: scale(1.05);
}

.neon {
    color: #0ef;
    text-shadow: 0 0 10px #0ef, 0 0 20px #0ef;
}

.text-neon {
    color: #0ef;
    font-weight: bold;
    text-shadow: 0 0 5px #0ef;
}

.years-box {
    background: linear-gradient(145deg, #0d0d0d, #111);
    padding: 40px 20px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.1);
}

.stats-box h2 {
    font-size: 3rem;
    margin-top: 10px;
}

.rounded-4 {
    border-radius: 1rem !important;
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about ul {
    list-style: none;
    padding: 0;
}

.about ul li {
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

.about ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #0d1321;
}

.about .read-more {
    color: #0d1321;

    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 8px 28px;
    border-radius: 5px;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #0d1321;
}

.about .read-more i {
    font-size: 18px;
    margin-left: 5px;
    line-height: 0;
    transition: 0.3s;
}

.about .read-more:hover {
    background: #0d1321;
    color: #5a7da6;
}

.about .read-more:hover i {
    transform: translate(5px, 0);
}

/*--------------------------------------------------------------
  # Why Us Section
  --------------------------------------------------------------*/
.why-us {
    padding: 30px 0;
}

.why-us .content h3 {
    font-weight: 400;
    font-size: 34px;
}

.why-us .content p {
    color: #3e5c76;
}

.why-us .faq-container .faq-item {
    background-color: #5a7da61a;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.why-us .faq-container .faq-item:last-child {
    margin-bottom: 0;
}

.why-us .faq-container .faq-item h3 {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    margin: 0 30px 0 0;
    transition: 0.3s;
    cursor: pointer;
}

.why-us .faq-container .faq-item h3 span {
    color: #0d1321;
    padding-right: 5px;
    font-weight: 600;
}

.why-us .faq-container .faq-item h3:hover {
    color: #0d1321;
}

.why-us .faq-container .faq-item .faq-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.why-us .faq-container .faq-item .faq-content p {
    margin-bottom: 0;
    overflow: hidden;
}

.why-us .faq-container .faq-item .faq-icon {
    position: absolute;
    top: 22px;
    left: 20px;
    font-size: 22px;
    line-height: 0;
    transition: 0.3s;
    color: #0d1321;
}

.why-us .faq-container .faq-item .faq-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    line-height: 0;
    transition: 0.3s;
    cursor: pointer;
}

.why-us .faq-container .faq-item .faq-toggle:hover {
    color: #0d1321;
}

.why-us .faq-container .faq-active h3 {
    color: #0d1321;
}

.why-us .faq-container .faq-active .faq-content {
    grid-template-rows: 1fr;
    visibility: visible;
    opacity: 1;
    padding-top: 10px;
}

.why-us .faq-container .faq-active .faq-toggle {
    transform: rotate(90deg);
    color: #0d1321;
}

.why-us .why-us-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.why-us .why-us-img img {
    max-height: 70%;
}



/*--------------------------------------------------------------
# Team Section
--------------------------------------------------------------*/
.team .team-member {
    background-color: var(--surface-color);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 5px;
    transition: 0.5s;
    padding: 30px;
    height: 100%;
}

@media (max-width: 468px) {
    .team .team-member {
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
    }
}

.team .team-member .pic {
    overflow: hidden;
    width: 150px;
    border-radius: 50%;
    flex-shrink: 0;
}

.team .team-member .pic img {
    transition: ease-in-out 0.3s;
}

.team .team-member:hover {
    transform: translateY(-10px);
}

.team .team-member .member-info {
    padding-left: 30px;
}

@media (max-width: 468px) {
    .team .team-member .member-info {
        padding: 30px 0 0 0;
        text-align: center;
    }
}

.team .team-member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
}

.team .team-member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.team .team-member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: color-mix(in srgb, #5a7da6, transparent 85%);
    bottom: 0;
    left: 0;
}

@media (max-width: 468px) {
    .team .team-member span::after {
        left: calc(50% - 25px);
    }
}

.team .team-member p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.team .team-member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

@media (max-width: 468px) {
    .team .team-member .social {
        justify-content: center;
    }
}

.team .team-member .social a {
    background: color-mix(in srgb, #5a7da6, transparent 94%);
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 36px;
    height: 36px;
}

.team .team-member .social a i {
    color: color-mix(in srgb, #5a7da6, transparent 20%);
    font-size: 16px;
    margin: 0 2px;
}

.team .team-member .social a:hover {
    background: #0d1321;
}

.team .team-member .social a:hover i {
    color: #5a7da6;
}

.team .team-member .social a+a {
    margin-left: 8px;
}



/*--------------------------------------------------------------
# Faq 2 Section
--------------------------------------------------------------*/
.faq-2 .faq-container {
    margin-top: 15px;
}

.faq-2 .faq-container .faq-item {
    background-color: #5a7da61a;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.faq-2 .faq-container .faq-item:last-child {
    margin-bottom: 0;
}

.faq-2 .faq-container .faq-item h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin: 0 30px 0 32px;
    transition: 0.3s;
    cursor: pointer;
}

.faq-2 .faq-container .faq-item h3 span {
    color: #5a7da6;
    padding-right: 5px;
}

.faq-2 .faq-container .faq-item h3:hover {
    color: #5a7da6;
}

.faq-2 .faq-container .faq-item .faq-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.faq-2 .faq-container .faq-item .faq-content p {
    margin-bottom: 0;
    overflow: hidden;
}

.faq-2 .faq-container .faq-item .faq-icon {
    position: absolute;
    top: 22px;
    left: 20px;
    font-size: 20px;
    line-height: 0;
    transition: 0.3s;
    color: #5a7da6;
}

.faq-2 .faq-container .faq-item .faq-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    line-height: 0;
    transition: 0.3s;
    cursor: pointer;
}

.faq-2 .faq-container .faq-item .faq-toggle:hover {
    color: #5a7da6;
}

.faq-2 .faq-container .faq-active h3 {
    color: #5a7da6;
}

.faq-2 .faq-container .faq-active .faq-content {
    grid-template-rows: 1fr;
    visibility: visible;
    opacity: 1;
    padding-top: 10px;
}

.faq-2 .faq-container .faq-active .faq-toggle {
    transform: rotate(90deg);
    color: #5a7da6;
}



/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
    color: var(--default-color);
    background-color: var(--background-color);
    font-size: 14px;
    padding-bottom: 50px;
    position: relative;
}

.footer .footer-newsletter {
    background-color: color-mix(in srgb, var(--heading-color), transparent 95%);
    padding: 50px 0;
}

.footer .footer-newsletter h4 {
    font-size: 24px;
}

.footer .footer-newsletter .newsletter-form {
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 6px 8px;
    position: relative;
    background-color: color-mix(in srgb, var(--background-color), transparent 50%);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    transition: 0.3s;
    border-radius: 50px;
}

.footer .footer-newsletter .newsletter-form:focus-within {
    border-color: var(--accent-color);
}

.footer .footer-newsletter .newsletter-form input[type=email] {
    border: 0;
    padding: 4px;
    width: 100%;
    background-color: color-mix(in srgb, var(--background-color), transparent 50%);
    color: var(--default-color);
}

.footer .footer-newsletter .newsletter-form input[type=email]:focus-visible {
    outline: none;
}

.footer .footer-newsletter .newsletter-form input[type=submit] {
    border: 0;
    font-size: 16px;
    padding: 0 20px;
    margin: -7px -8px -7px 0;
    background: var(--accent-color);
    color: var(--contrast-color);
    transition: 0.3s;
    border-radius: 50px;
}

.footer .footer-newsletter .newsletter-form input[type=submit]:hover {
    background: color-mix(in srgb, var(--accent-color), transparent 20%);
}

.footer .footer-top {
    padding-top: 50px;
}

.footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 50%);
    font-size: 16px;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    margin-right: 10px;
    transition: 0.3s;
}

.footer .social-links a:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}

.footer .footer-links {
    margin-bottom: 30px;
}

.footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-links ul i {
    margin-right: 3px;
    font-size: 12px;
    line-height: 0;
    color: var(--accent-color);
}

.footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-links ul a {
    display: inline-block;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    line-height: 1;
}

.footer .footer-links ul a:hover {
    color: var(--accent-color);
}

.footer .footer-about a {
    color: var(--heading-color);
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--heading-font);
}

.footer .footer-contact p {
    margin-bottom: 5px;
}

.footer .copyright {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.footer .copyright p {
    margin-bottom: 0;
}

.footer .credits {
    margin-top: 6px;
    font-size: 13px;
}


.section_our_solution .row {
    align-items: center;
}

.our_solution_category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.our_solution_category .solution_cards_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.solution_cards_box .solution_card {
    flex: 0 50%;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
        0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    margin: 8px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 265px;
    transition: 0.7s;
}

.solution_cards_box .solution_card:hover {
    background: #309df0;
    color: #fff;
    transform: scale(1.1);
    z-index: 9;
}

.solution_cards_box .solution_card:hover::before {
    background: rgb(85 108 214 / 10%);
}

.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description p {
    color: #fff;
}

.solution_cards_box .solution_card:before {
    content: "";
    position: absolute;
    background: rgb(85 108 214 / 5%);
    width: 170px;
    height: 400px;
    z-index: -1;
    transform: rotate(42deg);
    right: -56px;
    top: -23px;
    border-radius: 35px;
}

.solution_cards_box .solution_card:hover .solu_description button {
    background: #fff !important;
    color: #309df0;
}



.solution_card .solu_title h3 {
    color: #212121;
    font-size: 1.3rem;
    margin-top: 13px;
    margin-bottom: 13px;
}

.solution_card .solu_description p {
    font-size: 15px;
    margin-bottom: 15px;
}

.solution_card .solu_description button {
    border: 0;
    border-radius: 15px;
    background: linear-gradient(140deg,
            #42c3ca 0%,
            #42c3ca 50%,
            #42c3cac7 75%) !important;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
}

.our_solution_content h1 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.hover_color_bubble {
    position: absolute;
    background: rgb(54 81 207 / 15%);
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
    top: 0rem;
}

.solution_cards_box .solution_card .so_top_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solution_cards_box .solution_card .so_top_icon img {
    width: 40px;
    height: 50px;
    object-fit: contain;
}

/*start media query*/
@media screen and (min-width: 320px) {
    .sol_card_top_3 {
        position: relative;
        top: 0;
    }

    .our_solution_category {
        width: 100%;
        margin: 0 auto;
    }

    .our_solution_category .solution_cards_box {
        flex: auto;
    }
}

@media only screen and (min-width: 768px) {
    .our_solution_category .solution_cards_box {
        flex: 1;
    }
}

@media only screen and (min-width: 1024px) {
    .sol_card_top_3 {
        position: relative;
        top: -3rem;
    }

    .our_solution_category {
        width: 50%;
        margin: 0 auto;
    }
}

.section-title {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}